.card {
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(48, 48, 48);
    margin-top: 30px;
}

.card:hover {
    opacity: 80%;
}

.image {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    aspect-ratio: 3/2;
}

.figure {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/2;
}

.body {
    margin: 10px;
}